In [5]:
import pandas as pd

In [6]:
from numpy import NaN, NAN, nan

In [7]:
nan == True

False

In [8]:
nan == False

False

In [10]:
nan == nan

False

In [11]:
pd.isnull(nan)

True

In [12]:
pd.isnull(42)

False

In [13]:
pd.isnull('-')

False

In [14]:
NaN == nan

False

In [19]:
visited = pd.read_csv('../data/survey_visited.csv')

In [22]:
survey = pd.read_csv('../data/survey_survey.csv')

vs = visited.merge(survey, left_on='ident',
                   right_on='taken')

In [23]:
vs

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

In [24]:
ebola = pd.read_csv('../data/ebola_country_timeseries.csv')

In [25]:
ebola

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN
5,12/28/2014,281,2706.0,8018.0,9446.0,NaN,NaN,NaN,NaN,NaN,1708.0,3423.0,2758.0,NaN,NaN,NaN,NaN,NaN
6,12/27/2014,280,2695.0,NaN,9409.0,NaN,NaN,NaN,NaN,NaN,1697.0,NaN,2732.0,NaN,NaN,NaN,NaN,NaN
7,12/24/2014,277,2630.0,7977.0,9203.0,NaN,NaN,NaN,NaN,NaN,NaN,3413.0,2655.0,NaN,NaN,NaN,NaN,NaN
8,12/21/2014,273,2597.0,NaN,9004.0,NaN,NaN,NaN,NaN,NaN,1607.0,NaN,2582.0,NaN,NaN,NaN,NaN,NaN
9,12/20/2014,272,2571.0,7862.0,8939.0,NaN,NaN,NaN,NaN,NaN,1586.0,3384.0,2556.0,NaN,NaN,NaN,NaN,NaN
10,12/18/2014,271,NaN,7830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3376.0,NaN,NaN,NaN,NaN,NaN,NaN
11,12/14/2014,267,2416.0,NaN,8356.0,NaN,NaN,NaN,NaN,NaN,1525.0,NaN,2085.0,NaN,NaN,NaN,NaN,NaN
12,12/9/2014,262,NaN,7797.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3290.0,NaN,NaN,NaN,NaN,NaN,NaN
13,12/7/2014,260,2292.0,NaN,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,NaN,1768.0,8.0,0.0,1.0,0.0,6.0
14,12/3/2014,256,NaN,7719.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3177.0,NaN,NaN,NaN,NaN,NaN,NaN
15,11/30/2014,253,2164.0,NaN,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,NaN,1583.0,8.0,0.0,1.0,0.0,6.0
16,11/28/2014,251,NaN,7635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3145.0,NaN,NaN,NaN,NaN,NaN,NaN
17,11/23/2014,246,2134.0,NaN,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,NaN,1398.0,8.0,0.0,1.0,0.0,6.0
18,11/22/2014,245,NaN,7168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3016.0,NaN,NaN,NaN,NaN,NaN,NaN
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0
20,11/16/2014,239,1971.0,NaN,6073.0,20.0,1.0,4.0,1.0,5.0,1192.0,NaN,1250.0,8.0,0.0,1.0,0.0,5.0
21,11/15/2014,238,NaN,7069.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2964.0,NaN,NaN,NaN,NaN,NaN,NaN
22,11/11/2014,234,1919.0,NaN,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,NaN,1187.0,8.0,0.0,1.0,0.0,3.0
23,11/10/2014,233,NaN,6878.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2812.0,NaN,NaN,NaN,NaN,NaN,NaN
24,11/9/2014,232,1878.0,NaN,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,NaN,1169.0,8.0,0.0,1.0,0.0,1.0
25,11/8/2014,231,NaN,6822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2836.0,NaN,NaN,NaN,NaN,NaN,NaN
26,11/4/2014,227,NaN,6619.0,4862.0,20.0,1.0,4.0,1.0,1.0,NaN,2766.0,1130.0,8.0,0.0,1.0,0.0,1.0
27,11/3/2014,226,1760.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1054.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,11/2/2014,225,1731.0,NaN,4759.0,20.0,1.0,4.0,1.0,1.0,1041.0,NaN,1070.0,8.0,0.0,1.0,0.0,1.0
29,10/31/2014,222,NaN,6525.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2697.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,174.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
93,5/12/2014,51,248.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,171.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
94,5/10/2014,49,233.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
95,5/7/2014,46,236.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,158.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
96,5/5/2014,44,235.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
97,5/3/2014,42,231.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,155.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
98,5/1/2014,40,226.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,149.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
99,4/26/2014,35,224.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,143.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
100,4/24/2014,33,NaN,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
101,4/23/2014,32,218.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,141.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
102,4/22/2014,31,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
103,4/21/2014,30,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN
104,4/20/2014,29,208.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
105,4/17/2014,26,203.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,129.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,4/16/2014,25,197.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,122.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
107,4/15/2014,24,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,4/14/2014,23,168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,4/11/2014,20,159.0,26.0,2.0,NaN,NaN,NaN,NaN,NaN,106.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
110,4/9/2014,18,158.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,101.0,12.0,2.0,NaN,NaN,NaN,NaN,NaN
111,4/7/2014,16,151.0,21.0,2.0,NaN,NaN,NaN,NaN,NaN,95.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN
112,4/4/2014,13,143.0,18.0,2.0,NaN,NaN,NaN,NaN,NaN,86.0,7.0,2.0,NaN,NaN,NaN,NaN,NaN
113,4/1/2014,10,127.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,83.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN
114,3/31/2014,9,122.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,80.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN
115,3/29/2014,7,112.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
116,3/28/2014,6,112.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,70.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
ebola.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.2+ KB

In [33]:
# tally
ebola['Cases_Guinea'].value_counts(dropna=False).head()

NaN       29
 86.0      3
 495.0     2
 112.0     2
 390.0     2
Name: Cases_Guinea, dtype: int64

In [34]:
# how many unique
ebola['Cases_Guinea'].nunique()

88

In [35]:
# the actual unique values
ebola['Cases_Guinea'].unique()

array([ 2776.,  2775.,  2769.,    nan,  2730.,  2706.,  2695.,  2630.,
        2597.,  2571.,  2416.,  2292.,  2164.,  2134.,  2047.,  1971.,
        1919.,  1878.,  1760.,  1731.,  1667.,  1906.,  1553.,  1540.,
        1519.,  1472.,  1350.,  1298.,  1199.,  1157.,  1074.,  1022.,
        1008.,   942.,   936.,   899.,   861.,   812.,   771.,   648.,
         607.,   579.,   543.,   519.,   510.,   506.,   495.,   485.,
         472.,   460.,   427.,   415.,   410.,   411.,   406.,   409.,
         408.,   412.,   413.,   390.,   398.,   351.,   344.,   328.,
         291.,   281.,   258.,   248.,   233.,   236.,   235.,   231.,
         226.,   224.,   218.,   208.,   203.,   197.,   168.,   159.,
         158.,   151.,   143.,   127.,   122.,   112.,   103.,    86.,
          49.])

In [36]:
ebola.head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN

In [39]:
ebola.fillna(0)

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,0.0,10030.0,0.0,0.0,0.0,0.0,0.0,1786.0,0.0,2977.0,0.0,0.0,0.0,0.0,0.0
1,1/4/2015,288,2775.0,0.0,9780.0,0.0,0.0,0.0,0.0,0.0,1781.0,0.0,2943.0,0.0,0.0,0.0,0.0,0.0
2,1/3/2015,287,2769.0,8166.0,9722.0,0.0,0.0,0.0,0.0,0.0,1767.0,3496.0,2915.0,0.0,0.0,0.0,0.0,0.0
3,1/2/2015,286,0.0,8157.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3496.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12/31/2014,284,2730.0,8115.0,9633.0,0.0,0.0,0.0,0.0,0.0,1739.0,3471.0,2827.0,0.0,0.0,0.0,0.0,0.0
5,12/28/2014,281,2706.0,8018.0,9446.0,0.0,0.0,0.0,0.0,0.0,1708.0,3423.0,2758.0,0.0,0.0,0.0,0.0,0.0
6,12/27/2014,280,2695.0,0.0,9409.0,0.0,0.0,0.0,0.0,0.0,1697.0,0.0,2732.0,0.0,0.0,0.0,0.0,0.0
7,12/24/2014,277,2630.0,7977.0,9203.0,0.0,0.0,0.0,0.0,0.0,0.0,3413.0,2655.0,0.0,0.0,0.0,0.0,0.0
8,12/21/2014,273,2597.0,0.0,9004.0,0.0,0.0,0.0,0.0,0.0,1607.0,0.0,2582.0,0.0,0.0,0.0,0.0,0.0
9,12/20/2014,272,2571.0,7862.0,8939.0,0.0,0.0,0.0,0.0,0.0,1586.0,3384.0,2556.0,0.0,0.0,0.0,0.0,0.0
10,12/18/2014,271,0.0,7830.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3376.0,0.0,0.0,0.0,0.0,0.0,0.0
11,12/14/2014,267,2416.0,0.0,8356.0,0.0,0.0,0.0,0.0,0.0,1525.0,0.0,2085.0,0.0,0.0,0.0,0.0,0.0
12,12/9/2014,262,0.0,7797.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3290.0,0.0,0.0,0.0,0.0,0.0,0.0
13,12/7/2014,260,2292.0,0.0,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,0.0,1768.0,8.0,0.0,1.0,0.0,6.0
14,12/3/2014,256,0.0,7719.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3177.0,0.0,0.0,0.0,0.0,0.0,0.0
15,11/30/2014,253,2164.0,0.0,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,0.0,1583.0,8.0,0.0,1.0,0.0,6.0
16,11/28/2014,251,0.0,7635.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3145.0,0.0,0.0,0.0,0.0,0.0,0.0
17,11/23/2014,246,2134.0,0.0,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,0.0,1398.0,8.0,0.0,1.0,0.0,6.0
18,11/22/2014,245,0.0,7168.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3016.0,0.0,0.0,0.0,0.0,0.0,0.0
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0
20,11/16/2014,239,1971.0,0.0,6073.0,20.0,1.0,4.0,1.0,5.0,1192.0,0.0,1250.0,8.0,0.0,1.0,0.0,5.0
21,11/15/2014,238,0.0,7069.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2964.0,0.0,0.0,0.0,0.0,0.0,0.0
22,11/11/2014,234,1919.0,0.0,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,0.0,1187.0,8.0,0.0,1.0,0.0,3.0
23,11/10/2014,233,0.0,6878.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2812.0,0.0,0.0,0.0,0.0,0.0,0.0
24,11/9/2014,232,1878.0,0.0,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,0.0,1169.0,8.0,0.0,1.0,0.0,1.0
25,11/8/2014,231,0.0,6822.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2836.0,0.0,0.0,0.0,0.0,0.0,0.0
26,11/4/2014,227,0.0,6619.0,4862.0,20.0,1.0,4.0,1.0,1.0,0.0,2766.0,1130.0,8.0,0.0,1.0,0.0,1.0
27,11/3/2014,226,1760.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1054.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,11/2/2014,225,1731.0,0.0,4759.0,20.0,1.0,4.0,1.0,1.0,1041.0,0.0,1070.0,8.0,0.0,1.0,0.0,1.0
29,10/31/2014,222,0.0,6525.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2697.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,174.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0
93,5/12/2014,51,248.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,171.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0
94,5/10/2014,49,233.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,157.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0
95,5/7/2014,46,236.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,158.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0
96,5/5/2014,44,235.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,157.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0
97,5/3/2014,42,231.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,155.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0
98,5/1/2014,40,226.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,149.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0
99,4/26/2014,35,224.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,143.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100,4/24/2014,33,0.0,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101,4/23/2014,32,218.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,141.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102,4/22/2014,31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
103,4/21/2014,30,0.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0
104,4/20/2014,29,208.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,136.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
105,4/17/2014,26,203.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,129.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
106,4/16/2014,25,197.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,122.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0
107,4/15/2014,24,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
108,4/14/2014,23,168.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109,4/11/2014,20,159.0,26.0,2.0,0.0,0.0,0.0,0.0,0.0,106.0,13.0,2.0,0.0,0.0,0.0,0.0,0.0
110,4/9/2014,18,158.0,25.0,2.0,0.0,0.0,0.0,0.0,0.0,101.0,12.0,2.0,0.0,0.0,0.0,0.0,0.0
111,4/7/2014,16,151.0,21.0,2.0,0.0,0.0,0.0,0.0,0.0,95.0,10.0,2.0,0.0,0.0,0.0,0.0,0.0
112,4/4/2014,13,143.0,18.0,2.0,0.0,0.0,0.0,0.0,0.0,86.0,7.0,2.0,0.0,0.0,0.0,0.0,0.0
113,4/1/2014,10,127.0,8.0,2.0,0.0,0.0,0.0,0.0,0.0,83.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0
114,3/31/2014,9,122.0,8.0,2.0,0.0,0.0,0.0,0.0,0.0,80.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0
115,3/29/2014,7,112.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
116,3/28/2014,6,112.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,70.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0
117,3/27/2014,5,103.0,8.0,6.0,0.0,0.0,0.0,0.0,0.0,66.0,6.0,5.0,0.0,0.0,0.0,0.0,0.0
118,3/26/2014,4,86.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,62.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
119,3/25/2014,3,86.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120,3/24/2014,2,86.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
121,3/22/2014,0,49.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
ebola.head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN

In [41]:
ebola.fillna(method='ffill').head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,2769.0,8157.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN

In [42]:
ebola.fillna(method='bfill').head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,8166.0,10030.0,20.0,1.0,4.0,1.0,7.0,1786.0,3496.0,2977.0,8.0,0.0,1.0,0.0,6.0
1,1/4/2015,288,2775.0,8166.0,9780.0,20.0,1.0,4.0,1.0,7.0,1781.0,3496.0,2943.0,8.0,0.0,1.0,0.0,6.0
2,1/3/2015,287,2769.0,8166.0,9722.0,20.0,1.0,4.0,1.0,7.0,1767.0,3496.0,2915.0,8.0,0.0,1.0,0.0,6.0
3,1/2/2015,286,2730.0,8157.0,9633.0,20.0,1.0,4.0,1.0,7.0,1739.0,3496.0,2827.0,8.0,0.0,1.0,0.0,6.0
4,12/31/2014,284,2730.0,8115.0,9633.0,20.0,1.0,4.0,1.0,7.0,1739.0,3471.0,2827.0,8.0,0.0,1.0,0.0,6.0

In [44]:
ebola.head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
ebola['Cases_Guinea'].sum()

In [45]:
ebola['Cases_Guinea'].sum(skipna=False)

nan

In [48]:
df = pd.DataFrame({
    'a': [1, 2, 88, 99],
    'b': [3, NaN, 999, NaN]
})
df

    a      b
0   1    3.0
1   2    NaN
2  88  999.0
3  99    NaN

In [52]:
df.replace(to_replace=[88, 99, 999], value=NaN)

     a    b
0  1.0  3.0
1  2.0  NaN
2  NaN  NaN
3  NaN  NaN